.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    border: 1px solid rgb(53, 59, 63);
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #d1007f;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal input {
    padding: 10px;
    border: 1px solid rgb(53, 59, 63);
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-salvar {
    background-color: #d1007f;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: rgb(117, 131, 139);
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.erro-cpf {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}